@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@300&family=Roboto:wght@500;700&display=swap');


/*:root {
    --bg-main: #151515;
    --bg-contact: rgba(128, 128, 128, 1);
    --accent1: #deff58;
    --accent2: green;
    --text1: #fff;
    --text2: #d9d9d9;
    --sidebar-width: 275px;
    --font-base: "Bai Jamjuree";
    }
*/

:root {
    --bg-main: #003147;
    --bg-contact: lightblue;
    --accent1: #deff58;
    --accent2: green;
    --text1: #fff;
    --text2: #d9d9d9;
    --sidebar-width: 275px;
    --font-base: "Bai Jamjuree";
    }

body {
    background-color: var(--bg-main);
    color: var(--text2);
    font-family: var(--font-base);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--accent1);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--text2);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--text2);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--accent2);
}

.text-brand2 {
    color: var(--accent1);
}


.bg-base {
    background-color: var(--accent2);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--accent1);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--text2);
    color: var(--accent2);
}

/* NAVBAR */
.navbar {
    background-color: var(--bg-contact);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #d9d9d9;
}

.navbar .nav-link:hover {
    color: var(--accent1)
}

.navbar .nav-link.active {
    color: var(--accent1);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(hwb(0 85% 15% / 0),#d9d9d92a), url(../images/navbackground4.jpg);
        background-size: cover;
        background-position: center;
    }
    .navbar-brand img{
        border: 8px solid var(--accent2);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
    padding-left: var(--sidebar-width);
    }
}

.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--bg-main);
    color: var(--accent1);
    border-color: var(--accent1);
}

.btn-brand:hover, .btn-brand:focus {
    background-color: var(--accent2);
    color: var(--text2);
    border-color: var(--accent2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--accent1);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%
}

/*CARD*/
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/*CONTACT*/
#contact .form-control {
    background-color: var(--bg-main);
    border-color: var(--bg-);
    color: var(--text1);
}

#contact .form-control:focus {
    border-color: var(--bg-contact);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--text2);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS*/
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent2);
    border-radius: 100px;
    font-size: 24px;
}